
Targets/iOS/build/Debug-iphonesimulator/iOS.app.dSYM/Contents/Info.plist

Targets/iOS/build/Debug-iphonesimulator/iOS.app.dSYM/Contents/Resources/DWARF/iOS

Targets/iOS/build/Debug-iphonesimulator/iOS.app/Base.lproj/Main.storyboardc/Info.plist

Targets/iOS/build/Debug-iphonesimulator/iOS.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib

Targets/iOS/build/Debug-iphonesimulator/iOS.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib

Targets/iOS/build/Debug-iphonesimulator/iOS.app/Default-568h@2x.png

Targets/iOS/build/Debug-iphonesimulator/iOS.app/Info.plist

Targets/iOS/build/Debug-iphonesimulator/iOS.app/iOS

Targets/iOS/build/Debug-iphonesimulator/iOS.app/PkgInfo

Targets/iOS/build/Debug-iphonesimulator/iOSTests.xctest.dSYM/Contents/Info.plist

Targets/iOS/build/Debug-iphonesimulator/iOSTests.xctest.dSYM/Contents/Resources/DWARF/iOSTests

Targets/iOS/build/Debug-iphonesimulator/iOSTests.xctest/Info.plist

Targets/iOS/build/Debug-iphonesimulator/iOSTests.xctest/iOSTests

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/assetcatalog_dependencies.txt

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/assetcatalog_generated_info.plist

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/dgph

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS-all-non-framework-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS-all-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS-generated-files.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS-own-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS-project-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/iOS.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Main-SBPartialInfo.plist

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/AppDelegate.d

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/AppDelegate.dia

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/AppDelegate.o

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/GLRenderView.d

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/GLRenderView.dia

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/GLRenderView.o

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/Graphics.d

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/Graphics.dia

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/Graphics.o

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/iOS_dependency_info.dat

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/iOS.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/main.d

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/main.dia

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOS.build/Objects-normal/i386/main.o

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/dgph

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests-all-non-framework-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests-all-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests-generated-files.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests-own-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests-project-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/iOSTests.hmap

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/Objects-normal/i386/iOSTests_dependency_info.dat

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/Objects-normal/i386/iOSTests.d

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/Objects-normal/i386/iOSTests.dia

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/Objects-normal/i386/iOSTests.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphonesimulator/iOSTests.build/Objects-normal/i386/iOSTests.o

Targets/iOS/build/Debug-iphoneos/Cross++.app.dSYM/Contents/Info.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app.dSYM/Contents/Resources/DWARF/Cross++

Targets/iOS/build/Debug-iphoneos/Cross++.app/_CodeSignature/CodeResources

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~ipad.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~ipad.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~iphone.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~iphone.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~ipad.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~ipad.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~iphone.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~iphone.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main~ipad.storyboardc/Info-8.0+.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main~ipad.storyboardc/Info.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main~iphone.storyboardc/Info-8.0+.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/Base.lproj/Main~iphone.storyboardc/Info.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/Cross++

Targets/iOS/build/Debug-iphoneos/Cross++.app/Default-568h@2x.png

Targets/iOS/build/Debug-iphoneos/Cross++.app/Entitlements.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/Info.plist

Targets/iOS/build/Debug-iphoneos/Cross++.app/PkgInfo

Targets/iOS/build/Debug-iphoneos/iOS.app.dSYM/Contents/Info.plist

Targets/iOS/build/Debug-iphoneos/iOS.app.dSYM/Contents/Resources/DWARF/iOS

Targets/iOS/build/Debug-iphoneos/iOS.app/_CodeSignature/CodeResources

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~ipad.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~ipad.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~iphone.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC~iphone.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~ipad.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~ipad.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~iphone.nib/objects-8.0+.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r~iphone.nib/runtime.nib

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main~ipad.storyboardc/Info-8.0+.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main~ipad.storyboardc/Info.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main~iphone.storyboardc/Info-8.0+.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/Base.lproj/Main~iphone.storyboardc/Info.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/Default-568h@2x.png

Targets/iOS/build/Debug-iphoneos/iOS.app/Entitlements.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/Info.plist

Targets/iOS/build/Debug-iphoneos/iOS.app/iOS

Targets/iOS/build/Debug-iphoneos/iOS.app/PkgInfo

Targets/iOS/build/Debug-iphoneos/iOSTests.xctest.dSYM/Contents/Info.plist

Targets/iOS/build/Debug-iphoneos/iOSTests.xctest.dSYM/Contents/Resources/DWARF/iOSTests

Targets/iOS/build/Debug-iphoneos/iOSTests.xctest/_CodeSignature/CodeResources

Targets/iOS/build/Debug-iphoneos/iOSTests.xctest/Info.plist

Targets/iOS/build/Debug-iphoneos/iOSTests.xctest/iOSTests

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/assetcatalog_dependencies.txt

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/assetcatalog_generated_info.plist

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++-all-non-framework-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++-all-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++-generated-files.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++-own-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++-project-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++.app.xcent

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Cross++.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/dgph

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS-all-non-framework-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS-all-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS-generated-files.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS-own-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS-project-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS.app.xcent

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/iOS.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Main-SBPartialInfo.plist

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/arm64/iOS.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/AppDelegate.d

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/AppDelegate.dia

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/AppDelegate.o

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/Cross++_dependency_info.dat

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/Cross++.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/GLRenderView.d

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/GLRenderView.dia

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/GLRenderView.o

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/Graphics.d

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/Graphics.dia

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/Graphics.o

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/iOS_dependency_info.dat

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/iOS.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/main.d

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/main.dia

Targets/iOS/build/iOS.build/Debug-iphoneos/iOS.build/Objects-normal/armv7/main.o

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/dgph

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests-all-non-framework-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests-all-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests-generated-files.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests-own-target-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests-project-headers.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests.hmap

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/iOSTests.xctest.xcent

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/arm64/iOSTests.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/armv7/iOSTests_dependency_info.dat

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/armv7/iOSTests.d

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/armv7/iOSTests.dia

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/armv7/iOSTests.LinkFileList

Targets/iOS/build/iOS.build/Debug-iphoneos/iOSTests.build/Objects-normal/armv7/iOSTests.o

Games/Jim the Snake/Sources/Snake.cpp

Games/Jim the Snake/Sources/Collisioner.cpp

Games/Jim the Snake/Sources/Collisioner.cpp
Games/Jim the Snake/Platforms/Android/.settings/
Games/Jim the Snake/Platforms/Android/libs/
Games/Jim the Snake/Platforms/Android/bin/
Games/Jim the Snake/Platforms/Android/obj/
Games/Jim the Snake/Platforms/Android/jni/cross.cpp
Games/Jim the Snake/Platforms/Android/lint.xml
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.exe
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.ilk
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.lastbuildstate
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.log
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.pdb
Games/Jim the Snake/Platforms/Windows/Debug/Jim the Snake.res
Games/Jim the Snake/Platforms/Windows/Debug/vc110.idb
Games/Jim the Snake/Platforms/Windows/Debug/vc110.pdb
Games/Jim the Snake/Platforms/Windows/Jim the Snake.sdf
Games/Jim the Snake/Platforms/Windows/Jim the Snake.v11.suo


## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
## TODO: Comment the next line if you want to checkin your
## web deploy settings but do note that will include unencrypted
## passwords
#*.pubxml

# NuGet Packages Directory
packages/*
## TODO: If the tool you use requires repositories.config
## uncomment the next line
#!packages/repositories.config

# Enable "build/" folder in the NuGet Packages folder since
# NuGet packages use it for MSBuild targets.
# This line needs to be after the ignore of the build folder
# (and the packages folder if the line above has been uncommented)
!packages/build/

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# LightSwitch generated files
GeneratedArtifacts/
_Pvt_Extensions/
ModelManifest.xml

*.vcxproj
Games/Demo/Platform/Windows/Cross++.vcxproj
Games/Demo/Platform/Windows/Cross++.vcxproj
*.vcxproj
Games/Demo/Platform/Windows/Data/prefs
*.vcxproj
Games/Demo/Platform/Windows/Cross++.VC.opendb
